@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

div,h1,h2{
    font-family: "Faculty Glyphic", sans-serif;
    font-style: normal;
}
/* div,h1,h2{
    border:1px black solid;
} */
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-style: normal;
  }
  